# Dependencies =>
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Folders =>
.cache
.env
.vercel
.output
api

# Tailwind CSS Compiled File =>
src/styles/tailwind.css

# Other =>
/build/
/public/build
/api/index.js
/api/index.js.map
